{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert my-2" role="alert">
        The list of open orders is not real-time synced with GDAX.
        <a href="{{ url('api_collect_orders') }}" target="_blank" class="btn btn-dark mx-2">Collect latest open orders</a>
    </div>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Size</th>
            <th scope="col">Price</th>
            <th scope="col">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.productId }}</td>
                <td>{{ order.size }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.orderCreatedAt | date('d-m-Y H:i:s') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}