{% for trade in trades %}
    {% if loop.first or trades[loop.index0-1].tradeCreatedAt | date('d-m-Y') != trade.tradeCreatedAt | date('d-m-Y') %}
        <h2 class="order-list-day-header lead py-1 px-2" onclick="$('#order-day-{{ trade.tradeCreatedAt | date('d-m-Y') }}').toggle();">
            {{ trade.tradeCreatedAt | date('d-m-Y') }}
        </h2>
        <div id="order-day-{{ trade.tradeCreatedAt | date('d-m-Y') }}">
    {% endif %}

    {% if loop.first or trades[loop.index0-1].orderId != trade.orderId %}
        <span class="ml-2 py-1 px-2 order-list-day-header {% if trade.side == 'buy' %}bg-success{% else %}bg-danger{% endif %}"
             onclick="$('#order-{{ trade.orderId }}').toggle();">
            {{ trade.tradeCreatedAt | date('H:i:s') }}
        </span>
        <table class="table table-striped table-dark">
            <tbody id="order-{{ trade.orderId }}">
    {% endif %}
            <tr>
                <td style="width: 30%;">{{ trade.productId }}</td>
                <td style="width: 20%;">{{ trade.size }}</td>
                <td style="width: 49%;">€ {{ trade.price | number_format(2, ',', '.') }}</td>
            </tr>
    {% if loop.last or trades[loop.index0+1].orderId != trade.orderId %}
            </tbody>
        </table>
    {% endif %}
    {% if loop.last or trades[loop.index0+1].tradeCreatedAt | date('d-m-Y') != trade.tradeCreatedAt | date('d-m-Y') %}
        </div>
    {% endif %}
{% endfor %}
