{% for trade in trades %}
    {% if loop.first or trades[loop.index0-1].tradeCreatedAt | date('d-m-Y') != trade.tradeCreatedAt | date('d-m-Y') %}
        <h2 class="order-list-day-header lead py-1 px-2" onclick="$('#order-day-{{ trade.tradeCreatedAt | date('d-m-Y') }}').toggle();">
            {{ trade.tradeCreatedAt | date('d-m-Y') }}

            <span class="pull-right">
                {% if gainsLossesPerDay[trade.tradeCreatedAt | date('d-m-Y')]['EUR'] > 0 %}
                    <span class="text-success">
                        +€{{ gainsLossesPerDay[trade.tradeCreatedAt | date('d-m-Y')]['EUR'] | number_format(2, ',', '.') }}
                    </span>
                {% else %}
                    <span class="text-danger">
                        -€{{ (gainsLossesPerDay[trade.tradeCreatedAt | date('d-m-Y')]['EUR'] * -1) | number_format(2, ',', '.') }}
                    </span>
                {% endif %}

                {% if gainsLossesPerDay[trade.tradeCreatedAt | date('d-m-Y')][primaryActiveProduct] > 0 %}
                    <span class="text-success">
                        +{{ gainsLossesPerDay[trade.tradeCreatedAt | date('d-m-Y')][primaryActiveProduct] | number_format(2, ',', '.') }} {{ primaryActiveProduct }}
                    </span>
                {% else %}
                    <span class="text-danger">
                        -{{ (gainsLossesPerDay[trade.tradeCreatedAt | date('d-m-Y')][primaryActiveProduct] * -1) | number_format(2, ',', '.') }} {{ primaryActiveProduct }}
                    </span>
                {% endif %}
            </span>
        </h2>
        <div id="order-day-{{ trade.tradeCreatedAt | date('d-m-Y') }}" class="day-orders-container">
    {% endif %}

    {% if loop.first %}
        <table class="table table-striped table-dark text-lightdark" style="font-style: italic;">
            <tbody>
            <tr>
                <td style="width: 10%;" class="text-center {% if trade.side != 'buy' %}bg-success{% else %}bg-danger{% endif %}">
                    {{ (trade.side == 'buy' ? 'sell' : 'buy') | upper }} @
                    ≈€<span id="trade-list-possible-trade-current-price">{{ render(controller('App\\Controller\\ApiController::rates', {
                            product: app.session.get('activeProduct', 'BTC-EUR')
                        })) | number_format(2, '.', '') }}</span>
                </td>
                <td style="width: 40%;">
                    <span id="trade-list-possible-trade-size">{{ trade.size }}</span> <span class="text-lightdark">{{ primaryActiveProduct }}</span>
                </td>
                <td style="width: 35%;" class="text-lightdark">
                    Possible trade
                </td>
                <td style="width: 15%;" class="text-right">
                    ≈€<span id="trade-list-possible-trade-current-total-price">{{ (render(controller('App\\Controller\\ApiController::rates', {
                            product: app.session.get('activeProduct', 'BTC-EUR')
                        })) * trade.size) | number_format(2, '.', '') }}</span>
                </td>
            </tr>
            </tbody>
        </table>
    {% endif %}

        <table class="table table-striped table-dark">
            <tbody>
            <tr>
                <td style="width: 10%;" class="text-center {% if trade.side == 'buy' %}bg-success{% else %}bg-danger{% endif %}">
                    {{ trade.side | upper }} @ ≈€{{ trade.averagePrice | number_format(2, ',', '.') }}
                </td>
                <td style="width: 40%;">
                    {{ trade.size }} <span class="text-lightdark">{{ primaryActiveProduct }}</span>
                </td>
                <td style="width: 35%;" class="text-lightdark">
                    {{ trade.tradeCreatedAt | date('H:i:s') }}
                </td>
                <td style="width: 15%;" class="text-right">
                    ≈€{{ (trade.size * trade.averagePrice) | number_format(2, ',', '.') }}
                </td>
            </tr>
            </tbody>
        </table>

    {% if loop.last or trades[loop.index0+1].tradeCreatedAt | date('d-m-Y') != trade.tradeCreatedAt | date('d-m-Y') %}
        </div>
    {% endif %}
{% endfor %}
