<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MyCryptool{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css" />
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{{ url('home') }}">
                    MyCryptool
                </a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ app.session.get('activeProduct', 'BTC-EUR') }}:
                        <span class="last-trading-price"><span id="navbar-ticker"><i class="fa fa-spinner fa-pulse"></i></span> EUR</span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="{{ url('select-active-product', { 'product': 'BTC-EUR' }) }}">BTC/EUR</a>
                        <a class="dropdown-item" href="{{ url('select-active-product', { 'product': 'BCH-EUR' }) }}">BCH/EUR</a>
                        <a class="dropdown-item" href="{{ url('select-active-product', { 'product': 'ETH-EUR' }) }}">ETH/EUR</a>
                        <a class="dropdown-item" href="{{ url('select-active-product', { 'product': 'LTC-EUR' }) }}">LTC/EUR</a>
                    </div>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="{{ url('dashboard') }}">Dashboard</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="{{ url('orders') }}">Open orders</a>
                        </li>
                        <li class="nav-item mx-1">
                            <a class="nav-link" href="{{ url('trades') }}">Closed orders</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        Welcome <strong>{{ gdax_username }}</strong>. <em>Happy Crypto trading!</em>
                    </span>
                </div>
            </nav>

            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('build/app.js') }}"></script>

            <script type="text/javascript">
                function updateNavbarTicker(event) {
                    var navbarTicker = $('#navbar-ticker');
                    if (isNaN(parseFloat(JSON.parse(event.data).price))) {
                        return;
                    }
                    navbarTicker.html(parseFloat(JSON.parse(event.data).price).toFixed(2));
                }

                function updateWindowTitle(event) {
                    if (isNaN(parseFloat(JSON.parse(event.data).price))) {
                        return;
                    }
                    document.title = '€' + parseFloat(JSON.parse(event.data).price).toFixed(2) +
                        ' · {{ app.session.get('activeProduct', 'BTC-EUR') }}' +
                        ' - MyCryptool';
                }

                window.MyCryptool.openTickerWebsocket('{{ app.session.get('activeProduct', 'BTC-EUR') }}');
                window.MyCryptool.subscribeToTickerWebsocket(updateNavbarTicker);
                window.MyCryptool.subscribeToTickerWebsocket(updateWindowTitle);
            </script>
        {% endblock %}
    </body>
</html>
